# 二进制文件
*.exe
opsplatform-linux-amd64
opsplatform-linux-arm64
opsplatform/backend/opsplatform
opsplatform/backend/opsplatform-backend

# 数据库文件
*.db
*.sqlite

# 日志文件
*.log

# IDE
.idea/
.vscode/
.cursor/
.shared/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# Go
vendor/

# 备份文件
*.bak/
opsplatform/backend.bak/
opsplatform/frontend.bak/

# Harbor 配置
harbor/

